---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import { BlogIndexPage } from '../../components/chakra/BlogIndexPage';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const postCards = posts.map((post) => ({
	id: post.id,
	title: post.data.title,
	pubDate: new Intl.DateTimeFormat('en', {
		dateStyle: 'medium',
	}).format(post.data.pubDate),
	heroImage: post.data.heroImage
		? {
			src: post.data.heroImage.src,
		}
		: undefined,
}));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BlogIndexPage posts={postCards} />
	</body>
</html>
