---
import BaseHead from '../components/BaseHead.astro';
import ErrorRecoveryExperience from '../components/ErrorRecoveryExperience.astro';
import { getErrorPageRecoveryLink } from '../lib/error-page';

Astro.response.status = 418;

const requestPath = Astro.url.pathname;
const recoveryLink = await getErrorPageRecoveryLink(requestPath);
---

<html lang="zh-CN">
	<head>
		<BaseHead title="418: I'm a robot" description="I'm a robot" disableTikkun />
		<meta name="robots" content="noindex" />
	</head>
	<body>
		<ErrorRecoveryExperience
			recoveryHref={recoveryLink.href}
			recoveryLabel={recoveryLink.label}
			requestPath={requestPath}
			statusCode={418}
			statusDescription="I'm a robot"
			statusTitle="I'm a robot"
		/>
	</body>
</html>
