---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import { ArticleLayout } from '../components/chakra/ArticleLayout';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<ArticleLayout
			currentPath={currentPath}
			title={title}
			pubDate={new Intl.DateTimeFormat('en', { dateStyle: 'medium' }).format(pubDate)}
			updatedDate={updatedDate ? new Intl.DateTimeFormat('en', { dateStyle: 'medium' }).format(updatedDate) : undefined}
			heroImage={heroImage ? { src: heroImage.src } : undefined}
		>
			<slot />
		</ArticleLayout>
	</body>
</html>
